.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/food/foo-1/foo84.cur), auto !important;} /* End https://www.cursors-4u.com */

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Alice';
}

body {
    background-image: url(images/brownplaid.jpg);
    background-size: cover;
    justify-content: center;
}

header {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.fa-solid {
    color: #7B6B5A;
    font-weight: 900;
    font-size: 30px;
}


article {
    padding: 10px;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    flex: 200px;
    background-color: white;
    text-align: center;
}

.sideleft {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    flex: 200px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0%;
}

nav ul li a:hover {
    background-color: #A89C8D;
}

nav ul li a {
    text-decoration: none;
    color: #0b2b12;
    font-family: 'Sorts Mill Goudy';
    background-color: #BFAF9E;
    margin-bottom: 2px;
    padding: 8px;
    display: block;
    font-weight: bold;
    border-radius: 10px;
}
